<!-- <app-mycontainer></app-mycontainer> -->
<!-- <app-style-bind></app-style-bind> -->
<!-- <app-cars-list></app-cars-list> -->
<!-- <app-product-list></app-product-list> -->
<!-- <app-template-form></app-template-form>
 -->
 <!-- <app-simplegrouptempform></app-simplegrouptempform> -->
 <!-- <app-final-temp-form></app-final-temp-form> -->
 <!-- <app-productmanagement></app-productmanagement> -->
 <!-- <app-usermanagement></app-usermanagement> -->
 <!-- <app-user-dashboard></app-user-dashboard> -->
 <h1>App Root</h1>
<router-outlet></router-outlet>
