<h1>Product List</h1>

<div class="container border-danger">
    <div class="col-md-8">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search by product Name" [(ngModel)]="mySearch">
            <button class="btn btn-outline-secondary" type="button">Button</button>
        </div>
    </div>
    <div class="col-md-8 ">
        <table class="table table-hover justify-content-center">
            <thead>
                <tr>
                <th scope="col">Product Name</th>
                <th scope="col">Price</th>
                <th scope="col">Availability</th>
                </tr>
            </thead>
            <tbody>
                
                <tr *ngFor="let item of prodLists | filter:mySearch">
                <td>{{item.name}}</td>
                <td>{{item.price}}</td>
                <td>
                    <span class="badge rounded-pill" [ngClass]="item.availablity === 'Available'?'bg-success':'bg-danger'">{{item.availablity}}</span></td>
                </tr>
                
                <!-- <tr *ngIf="prodLists">
                    <td colspan="3"><p class="text-center">No Result Found</p></td>
                </tr> -->
                
                
            </tbody>
            </table>
        
    </div>
</div>
