<p>core-ice-cream-shop works!</p>

<mat-card class="example-card m-auto">
    <mat-card-content>
        <mat-horizontal-stepper [linear]="isLinear" #stepper>
            <mat-step label="Choose Base" [stepControl]="firstFormGroup">
                <h3>Welcome to the Trapeze Ice Cream Shop!</h3>
                <p>Who is buying, and what base would you like to have?</p>
                <form [formGroup]="firstFormGroup">
                <mat-form-field appearance="fill">
                    <mat-label>Choose an option</mat-label>
                    <mat-select [(ngModel)]="selectedOption" formControlName="optionCtrl">
                      <mat-option value="{{option.userFullName}}" *ngFor="let option of users">{{option.userFullName}}</mat-option>
                    </mat-select>
                </mat-form-field>
                <h4>Your selection is: {{selectedOption}}</h4>
                <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
                [(ngModel)]="selectedBase" formControlName="radioCtrl" (change)="baseAmount()">
                <mat-radio-button class="example-radio-button" *ngFor="let base of baseList" [value]="base.name" >
                    {{base.name}}
                </mat-radio-button>
                </mat-radio-group>
                <h4>Your favorite base is: {{selectedBase}}</h4>
                </form>
            </mat-step>
            <mat-step label="Choose Flavours" [stepControl]="secondFormGroup">
                <h3>Awesome! Please select the number of scoops of each flavour. </h3>
                <form [formGroup]="secondFormGroup">
                    <p>{{selectedBase}}</p>
                    <p class="text-danger" *ngIf="secondFormGroup.errors && secondFormGroup.touched">{{secondFormGroup.errors.required}}</p>
                    <ul>
                        <li *ngFor="let flavour of flavourList">
                            <mat-form-field class="example-full-width" appearance="fill">
                                <input matInput type="number" name="{{flavour.name}}" [(ngModel)]="selectedFlavours[flavour.name]" maxlength="1" formControlName="{{flavour.name}}" (change)= "validateFlavours()">
                            </mat-form-field>
                            <span class="ice-flavours-name ml-10">{{flavour.name}} {{selectedFlavours[flavour.name]}}</span>
                        </li>
                    </ul>
                </form>
                
            </mat-step>
            <mat-step label="Payment">
                <h3>And your total comes to....</h3>
                <mat-form-field class="example-pay-full-width" appearance="fill">
                    <input matInput disabled value ="{{basePaymentAmount+paymentAmount}}">
                </mat-form-field>
                <p>
                    <button mat-stroked-button class="cancel-btn" (click)="goToCancel()">Cancel</button>
                    <button mat-flat-button class="ml-10 client-bg-primary" (click)="goToPayment()">Proceed with payment</button>
                </p>
            </mat-step>
        </mat-horizontal-stepper>
    </mat-card-content>
</mat-card>
